<!-- As a link -->
<nav class="navbar navbar-light bg-light border-bottom">
  <div class="container-fluid px-2">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/user/add">Add user</a>
  </div>

</nav>